body {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  padding: 10px;
  width: 280px;
  flex-direction: column;
  align-items: baseline;
  box-shadow: 0 0 1px;
}

button {
  background-color: blue;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  font-size: 14px;
}

.add_contact {
  width: 277px;
  border-radius: 3px;
}

.deleteBtn {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin: 0;
}

input {
  margin: 10px 0 10px;
  width: 270px;
  border: 1px solid;
  border-radius: 3px;
}

.find {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 10px 0 10px 0;
  padding: 10px;
}

span {
  margin-right: 10px;
}
